@import "../../variables.scss";

.pizza__item {
  background: #ffffff;
  border: 1px solid #f0f0f0;
  border-radius: 12px;
  max-width: 300px;
  min-height: 500px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  &-text {
    max-width: 240px;
    margin-top: 16px;
  }
  &-img {
    max-width: 300px;
    max-height: 300px;
  }

  &-title {
    font-family: "Inter";
    font-size: 18px;
    line-height: 24px;
    color: #191919;
    margin-bottom: 12px;
  }

  &-description {
    min-width: 280px;
    font-family: "Inter";
    font-size: 16px;
    line-height: 22px;
    color: #191919;
    margin-bottom: 12px;
  }

  &-footer {
    display: flex;
    bottom: 20px;
    left: 20px;
    align-items: center;
    position: absolute;
    &-btn {
      cursor: pointer;
      background: #ff7010;
      border-radius: 6px;
      width: 131px;
      height: 48px;
      margin-right: 50px;
      margin-left: 10px;
      color: #f0f0f0;
      border: none;
    }

    &-price {
      font-family: "SF Pro Text";
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
      color: #ff7010;
    }
  }
}

.pizza__item:hover {
  animation: items 5s infinite;
}

@media only screen and (max-width: $xl) {
  .pizza__item {
    min-width: 250px;
    min-height: 450px;
    &-text {
    }
    &-img {
      max-width: 250px;
      max-height: 250px;
    }

    &-title {
      margin-left: 15px;
    }

    &-description {
      min-width: 200px;
      margin-left: 15px;
    }
    &-footer {
      &-btn {
        margin-right: 50px;
        margin-left: 0;
        width: 111px;
        height: 45px;
      }
      &-price {
        font-size: 16px;
      }
    }
  }
}

@media only screen and (max-width: $lg) {
  .pizza__item {
    min-width: 250px;
    min-height: 350px;
    &-text {
      min-width: 200px;
      min-height: 200px;
    }
    &-img {
      max-width: 200px;
      max-height: 200px;
    }

    &-title {
    }

    &-description {
      min-width: 240px;
      margin-left: 15px;
    }
    &-footer {
      &-btn {
      }
      &-price {
      }
    }
  }
}

@media only screen and (max-width: $md) {
  .pizza__item {
    min-width: 510px;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    &-text {
      padding-top: 50px;
    }
    &-img {
      margin-left: 12px;
      max-width: 120px;
      max-height: 120px;
    }

    &-title {
    }

    &-description {
      display: none;
      margin-bottom: 0px;
      min-width: 180px;
    }
    &-footer {
      &-btn {
        width: 90px;
        height: 40px;
        margin-right: 50px;
        margin-left: 125px;
      }
      &-price {
      }
    }
  }
}

@media only screen and (max-width: $sm) {
  .pizza__item {
    min-width: 310px;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    &-text {
      padding-top: 70px;
    }
    &-img {
      max-width: 100px;
      max-height: 100px;
    }

    &-title {
    }

    &-description {
    }
    &-footer {
      &-btn {
        width: 50px;
        height: 30px;
        width: 90px;
        height: 40px;
        margin-right: 20px;
        margin-left: 105px;
      }
      &-price {
        font-size: 14px;
      }
    }
  }
}
