.container-items {
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 auto;
  justify-content: space-between;
}
.title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  display: flex;
  align-items: center;
  color: #191919;
}
