@import "../../variables.scss";

.searchPanel {
  background: #ffffff;
  max-width: 1463px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 8px;
  justify-content: space-between;
  &-title {
    padding-left: 36px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #191919;
  }
  &-input {
    background: #ffffff;
    border: 1px solid #f0f0f0;
    box-sizing: border-box;
    border-radius: 8px;
    width: 888.01px;
    height: 48px;
    margin-top: 16px;
    margin-bottom: 16px;
    padding-left: 15px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #a5a5a5;
  }
  &-input::placeholder {
    margin-left: 15px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #a5a5a5;
  }
  &-button {
    margin-right: 30px;
    background: #ff7010;
    border-radius: 8px;
    border: none;
    width: 150px;
    height: 48px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
  }
}

@media only screen and (max-width: $xl) {
  .searchPanel {
    max-width: 921px;
    margin: 20px auto;
    &-title {
    }
    &-input {
    }
    &-input::placeholder {
    }
    &-button {
		margin-right: 10px;
    }
  }
}

@media only screen and (max-width: $lg) {
  .searchPanel {
    max-width: 769px;
    margin: 20px auto;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    &-title {
    }
    &-input {
		max-width: 500px;
    }
    &-input::placeholder {
    }
    &-button {
		margin-bottom: 10px;
    }
  }
}

@media only screen and (max-width: $md) {
  .searchPanel {
    max-width: 577px;
    margin: 20px auto;
    &-title {
    }
    &-input {
    }
    &-input::placeholder {
    }
    &-button {
    }
  }
}

@media only screen and (max-width: $sm) {
  .searchPanel {
    max-width: 321px;
    margin: 20px auto;
    &-title {
    }
    &-input {
		max-width: 200px;
    }
    &-input::placeholder {
    }
    &-button {
    }
  }
}
